/* formatting */
:root{
  --orange: #FF8001;
  --black: #545454;
  --light-color: #928F8F;
  --order: #0C1779;
  --box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3{
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}
.footer .box-container .box a{
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}
.footer .box-container .box a:hover{
  color: var(--orange);
  text-decoration: underline;
}
.footer .box-container .box a i{
  margin-right: 1rem;
}

.footer .credit{
  text-align: center;
  border-top: 0.1rem solid rgba(0,0,0,0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
.footer .credit span a{
  color: var(--orange);
}
.footer .credit span a:hover{
  text-decoration: underline;
}