/* xL screens */
@media (min-width:992) {
  
}

/* large screens */
@media (min-width:992px){
  html{
    font-size: 55%;
  }

  header{
    padding: 1rem 2rem;
  }

}

/* medium screen */
@media (max-width:991px){
  header .icons #menu-bars{
    display: inline-block;
  }

  header .navbar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background-color: #fff;
    border-bottom: 0.1rem solid rgba(0,0,0,0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a{
    display: block;
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }

  #search-form #search-box{
    width: 90%;
    margin: 0 1rem;
  }

  .home .home-slider .slide .content h3{
    font-size: 5rem;
  }
}

@media (max-width:495px){
  html{
    font-size: 50%;
  }
  .dishes .box-container .box img{
    height: auto;
    width: 100%;
  }
  .order form .inputBox .input{
    width: 100%;
  }
}

@media (max-width:560px){
  .dishes .box-container .box img{
    height: auto;
    width: 70%;
  }
}

/* xtra small screen */
@media (max-width:495px){
  html{
    font-size: 50%;
  }
  header .logo{
    font-size: 1.5rem;
    font-weight: 700;
  }
  header .logo img{
    width: 20px;
    margin-right: 0.5rem;
  }

  header .icons i,
  header .icons a{
    font-size: 1.4rem;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 3.5rem;
  }

}